# Build results
bin/
obj/

# Visual Studio cache/options
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio cache
*.vsidx
*.vscode/

# Logs
*.log

# Backup & temp
*.bak
*.tmp
*.temp

# Docker / container cache
**/Container/
